$primary:#020202;
$secondary:#0d0d0d;

#GiForm{
    .card{
    background-color:white;

    input, select, textarea{
        resize:none;
        border:none;
        background-color:whitesmoke;
        border-radius: 10px;
    }

    input,select,textarea:focus{
        border:none;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    }


    .btn-custom{
        margin: 0;
        padding: 0 2rem;
        height: 2.5rem;
        line-height: 2.5rem;
        border-radius: 7px;
        background: #0076ff;
        box-shadow: 0 4px 14px 0 rgba(0,118,255,0.39);
        color: white;
    }
    
    }
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width:576px){

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    
}