//GLOBAL STYLESHEET
$vp-primary: #070707;
$vp-secondary: #191919;
$vp-secondary-darkgrey:#1a1a1a;
$vp-secondary-lightgrey:#262626;

body{
    font-family: 'Poppins', sans-serif;
    background:black;

}
.vp-rounded{
    border-radius: 30px;
}

.vp-align {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%); 
  }

  .vp-pri-bg{
    background: $vp-primary;
  }
  .vp-sec-bg{
      background:$vp-secondary;
  }

  .vp-sec-text{
      color:$vp-secondary;
  }

  