#vee_bg{
    overflow-y:hidden;
    width: 100%;
    height: 90vh;
    display: block;
    background-color:#020202;//222;
    position: absolute;
    z-index: 9999;
  
  
    .custom-shadow {
      box-shadow:0 1rem 3rem rgb(0, 0, 0) !important; }
  
    #vee_cover{
      background-color: white;
      color:black;
      height: 70vh;
  
      p{
        color:white;
      }
  
      #instuction{
        color:#a2adaf;
        font-size: 10px;
  
        a{
          color:white;
        }
      }
    }
  
    .btn-rounded{
      border-radius: 100px;
    }
  
    .btn-outline{
      background-color:white;
      text-transform: bold;
      color: #0d0d0d;
    }
  }

  // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width:388px){
  #vee_bg{
    background-color:black;
}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #GiForm{
        .card{
    background-color:blue; }
        }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    
}