#Vee{
    position: relative;
    display:block;
    min-height:95vh;
    background-color:#000;
    width:100%;
    
    #chatbot-content{
        position: absolute;
        width:100%;
        top:50%;
        transform: translateY(-50%);
    }

    @media only screen and (max-width: 476px) {
        #Vee{
            min-height:70vh;
        }
    }
}
//If height is less than 587px ish, display screen that states "Turn device orientation for optimazationo", covering/hiding the chatbot