body{
    overflow-x:hidden;
    background-color: #050505;
}
.navbar{
    display:none;
}
#Main_Page{

    background-color:#050505;
    position: relative;
    color:white;
    width:100%;
    min-height:95vh;

    h6{
        font-size:14px;
    }

    

    #page-header{
        position:absolute;
        width:100%;
        top:50%;
        transform:translateY(-50%);
        
        p{
            font-family:'Roboto';
            font-size: 18px;
        }

        .btn-black{
            background:#050505;
            color:white;
            border: 1px solid white;

            
        }
        .btn-black:hover{
            background:rgb(12, 12, 12);
            cursor:pointer;
        }

        .btn-white{
            background:white;
            color:black;
        }
        .btn-white:hover{
            background:whitesmoke;
            border: 1px solid white;
            cursor:pointer;
        }

        p{
            font-size:20px;
        }

        #instuction{
            color:#a2adaf;
            font-size: 10px;
      
            a{
              color:white;
            }
          }
    }

    @media only screen and (max-width: 476px) {
        #page-header{
           
            h1{
                font-size:48px;
            }

            p{
                font-size:18px;
            }
        }
    }
}