
#page-content{
    background:black;
    color:white;
}
.legal-scrollmenu {
    background-color:rgb(5, 5, 5);//#0e1112;
    overflow-x:scroll;
    white-space:nowrap; 
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    
}

.legal-scrollmenu a {
    display: inline-block;
    //background:white;
    color:white;
    text-align: center;
    font-size: 14px;
    padding:6px 14px;
    text-decoration: none;
    font-weight: 700;
}

.legal-scrollmenu a:hover {
    background: rgb(226, 226, 226);
    border-color:rgb(226,226,226);
    color:black;
}

.legal-scrollmenu::-webkit-scrollbar{
    display:none;
}
a{
    color:white;
}
a:hover{
    color:#ccc;
}

.active{
    border-bottom: 2px solid white;
    color:white;
    font-weight: bold;
}

.not-active{
    border-bottom: 2px solid grey;
    color:grey;
}

@media only screen and (max-width: 476px) {
    #page-content{
        h1{
            font-size:1.5em;
        }

        p{
            font-size:1em;
        }
    }
}