#webdev-page{
  background:#080808;

  #vp-masthead{
    background-size: cover;
    min-height:450px;
    color: white;

    .dark-overlay {
      background-color: rgba(0, 0, 0, 0.8);
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      min-height:450px; 
    }
  }

  
  .vp-button{
    margin: 0;
    padding: 0 2rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 25px;
    background: #0076ff;
    box-shadow: 0 4px 14px 0 rgba(0,118,255,0.39);
    color: white;
  }

  .vp-button:hover{
    background:#1180ff;
  }


  #meet-via-section{
    min-height:420px;
    position: relative;
    background:black;
    color:white;


    #mvs-content{
      position:absolute;
      width:100%;
      top:50%;
      transform:translateY(-50%);
      p{
        color:grey;
        font-size:18px;
      }

      a{
          background:white;
          border:1px solid white;
          color:black;
      }

      a:hover{
          background: #d4d4d4;
          border:1px solid #d4d4d4;
      }
    }
  }
}

@media only screen and (max-width:486px){
  
  #vp-masthead{
    h1{
      font-size:30px;
    }
    p.lead{
      font-size:16px;
    }
  }

}
