$spacex-link:#8b939b;
$spacex-main:#0e1112;
$spacex-text:#4b5256;

  #vp-welcoming-section{

    #vp-welcoming-content{

        position: relative;
        min-height:1px;
        background: black;
        color:white;
        //background-image: linear-gradient(155deg, #002f62 0%, #18496a 50%, #138b89 100%);

      svg {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
      }

      .font-size-header{
        font-size: 18px;
      }

      .vp-button{
        margin: 0;
        padding: 0 2rem;
        height: 2.5rem;
        line-height: 2.5rem;
        border-radius: 25px;
        background: #0076ff;
        box-shadow: 0 4px 14px 0 rgba(0,118,255,0.39);
        color: white;
      }

      .vp-button:hover{
        background:#1180ff;
      }
    }

  }


  #vp-services-section{
    background:white;
    color:$spacex-main;
    font-family: 'Roboto';

    
    p{
      font-size:16px;
      color:$spacex-text;
    }

    span{
      background:#080808;
    }

    .vp-services-svg{
      width:325px;
      height:325px;
    }

    h2{
      font-size: 1.618em;
      font-weight: 600;
      line-height: 1.333;
    }
  }

  #vp-vision-section{
    min-height: 225px;
    background:black;
    color:white;
  }

  #vp-mission-section{
    min-height: 525px;
    background:white;
    color:black;
  }

  #meet-via-section{
    min-height:420px;
    position: relative;
    background:black;
    color:white;


    #mvs-content{
      position:absolute;
      width:100%;
      top:50%;
      transform:translateY(-50%);
      p{
        color:grey;
        font-size:18px;
      }

      a{
          background:white;
          border:1px solid white;
          color:black;
      }

      a:hover{
          background: #d4d4d4;
          border:1px solid #d4d4d4;
      }
    }
  }



@media only screen and (max-width:486px){
  
  #vp-welcoming-section{
    #vp-welcoming-content{

      h1{
        font-size: 30px;
      }

      p.lead{
        font-size:15px;
      }
    }
  }

  #vp-services-section{
    .subhead{
      font-size:18px;
    }

    h1.heading{
      font-size:28px;
    }
  }
}
